# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Temp files/directories
.temp/
supabase/.temp/
.cursor
node_modules
dist
dist-ssr
*.local

# Problematic directories
api/lomi./

# Environment variables
.env

# Editor directories and files
.vscode/*
.DS_Store
/data