# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Temp files/directories
.temp/
node_modules
dist
*.local
/tohelp

# Environment variables
.env

# Editor directories and files
.vscode/*
.DS_Store
/data
.vercel
